$sm-width: 767px;
$lg-width: 992px;
$xl-width: 1024px;
@mixin small {
    @media (max-width: #{$sm-width}) {
        @content;
    }
}

@mixin medium {
    @media (min-width: #{$sm-width + 1px}) and (max-width: #{$xl-width - 1px}) {
        @content;
    }
}

@mixin large {
    @media (min-width: #{$xl-width}) {
        @content;
    }
}